{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/exec", {
      "publishCmd": "echo 'release-tag=${nextRelease.version}\n' >> $GITHUB_OUTPUT"
    }],
  ],
  "tagFormat": "release-v${version}"
}
